html, body {
    padding: 0;
    margin: 0;
    /* height: 100%; */
}

#background {
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;

}

#loginContainer * {
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box; 
}

#loginContainer {
    width: 80%;
    margin: 10px auto 0 auto;
    position: relative;
    max-width: 1024px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #FFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #FFF;
}

::placeholder { /* Most modern browsers support this now. */
   color: #FFF;
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
    border: 1px solid #999;
}

#inputContainer h2 {
    text-align: center;
}

#inputContainer input[type='text'],
#inputContainer input[type='email'],
#inputContainer input[type='password'] {
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #FFF;
    height: 27px;
    line-height: 27px;
    width: 100%;
    outline: none;
}

#inputContainer label {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

#inputContainer button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 250px;
    color: #FFF;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    outline: none;
}

#inputContainer button:hover {
    cursor: pointer;
}

.hasAccountText span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.hasAccountText {
    text-align: center;
}

#clearfix {
    clear: left;
}

#registerForm,
#loginForm {
    display: none;
}

#loginText {
    padding: 45px;
    display: table-cell;
}

#loginText h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

#loginText h2 {
    margin: 35px 0;
}

#loginText ul {
    padding: 0;
}

#loginText li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url('../images/icons/checkmark.png') no-repeat 0 0;
}

#inputContainer .errorMessage {
	color: #07d159;
	font-size: 14px;
    display: block;
}

#inputContainer ul {
	padding: 0;
}