* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

.nav-logo {
  width: 200px;
  margin: auto;
  text-align: center;
}

.nav-logo img {
  width: 100%;
}


.nav-menu {
  text-align: center;
}

.tab .active {
  background-color: #ccc;
}

.nav-menu ul {
  padding: 0;
  margin: 0;
}

.menuItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
  color: #0c6b90c0;
  list-style-type: none;
}

.menuItem span {
  cursor: pointer;
}

.menuItem:hover {
  background: #0c6b90c0;
  color: #fff;
}

.sub-nav {
  text-align: center;
}

.speakCreate {
  padding: 50px;
}

.speakBanner img {
  width: 100%;
}

.speakText:hover {
  cursor: pointer;
}

.speakCreate:hover {
  background: #0c6b90c0;
  color: #fff;
}

.block {
  background: #ddd;
}

a {
  color: #000;
  text-decoration: none;
}

.tab-menu-top {
  text-align: center;
}

.tab {
  transition: 0.3s;
}

.tab.active {
  background: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tab-menu-top div {
  border: 1px solid #a3a3a3;
  padding: 20px;
  background: #ddd;
  cursor: pointer;
}

.editSettings ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.onNowLeft {
  text-align: center;
  margin-top: 5px;
}

.onNowLeft img {
  height: 100px;
}

.onNowCenter {
  max-width: 650px;
  text-align: justify;
  margin: 15px auto;
}

.onNowRight {
  margin-top: 10px 20px;
  text-align: center;
}
